html {
    background-color:white; 
    font-family: arial;
    color: black;
 }
 #back{
     position: relative;
     top:10px;
     padding: 10px;;
     background-color: #828587;
     color:#ebdc09;
     font-size: large;
     font-family: Arial;
     font-weight: bold;
 }

 #back, a{
     text-decoration: none;
     color: #ebdc09;
 }
 
 header {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #3b3a39;
    height: 30px;
    padding: 10px;
}

#title{
    font-size: 16pt;
    color: white;
}

h1 {
    font-size: 16pt;
    color: white;
    text-align: center;
}
 
#search{
    right: 5px;
    border-radius: 5px;
    height: 90%;
}
 
#searchB{
    background-color: #3b3a39;
    color: #b3870e;
    border: 1px solid #b3870e;
    border-radius: 5px;
    font-weight: bold;
    height: 100%;
}
  
nav{
    display: flex;
    right: 10%;
    height: 100%;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    font-size: 16pt;
}
 
 
 #a1{
     color: white; 
     text-decoration: none;
     font-size: small;
 }
 #a2{
     color: white; 
     text-decoration: none;
     font-size: small;    
 }

 #container{
     position:relative;
     top: 20px;;
    display: flex;
 }

 img{
     width: 200px;
     max-height: 100%;
 }

 #movieposter{
     position: relative;
     left:10px;
 }

 #movieposter, h1{
     color: black;
     text-align: left;
 }

 #comments{
     position: relative;
     top:10px;
 }

 #submit{
     background-color:#0991eb;
     color:white;
     border-radius: 5px;
 }

 